# Server Configuration (Backend)
PORT=
JWT_SECRET=

# API base URL (Backend deployado no Render)
VITE_API_URL=

# Last.fm Configuration
VITE_LASTFM_API_KEY=

# PostgreSQL Configuration (Backend)
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=
DB_NAME=
